._container{
   max-width: 500px;
   margin: 0 auto;
}
.header{
   height: 100px;
   background: yellowgreen;
}
.add_task{
   display: flex;
   flex-direction: column;
   background-color: rgb(44, 136, 44);
   height: 200px;
   /* margin: 0 auto; */
   /* justify-content: center; */
   align-items: center;
}
.add_task_text{
   /* text-align: center; */
   color: white;
}
.add_task_input_and_button{
 margin-top: 20px;
}
.add_task_input{
   text-align: center;
   background-color: #d1db3f;
   border:none;
   font-size: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.button_add{
   height: 100%;
   background-color: #db973f;
}
.button_add_text{
   font-size: 15px;
}
.add_task_result{
   background-color: aliceblue;
   /* height: 100px; */
}